* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

p {
  margin: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}