.button {
  height: 25px;
  border: 1px solid $button-border-color;
  border-radius: 5px;
  padding: 0 10px;
  background: $button-background-color;
  color: $button-text-color;
  cursor: pointer;
  @include font(1.5rem, 2.0rem);
  text-decoration: none;

  &:hover {
    border-color: $button-border-color-hover;
  }
}