.flex {
  display: flex;
  align-items: baseline;
}

.flex__justify-content {
  &_space-between {
    justify-content: space-between;
  }

  &_flex-end {
    justify-content: flex-end;
  }
}

.flex__align-items {
  &_center {
    align-items: center;
  }

  &_flex-start {
    align-items: flex-start;
  }
}