.flex {
  display: flex;
  align-items: normal;
}

.flex__justify-content {
  &_space-between {
    justify-content: space-between;
  }

  &_flex-end {
    justify-content: flex-end;
  }

  &_center {
    justify-content: center;
  }
}

.flex__align-items {
  &_center {
    align-items: center;
  }

  &_flex-start {
    align-items: flex-start;
  }

  &_baseline {
    align-items: baseline;
  }

}

.flex__flex-wrap {
  &_wrap {
    flex-wrap: wrap;
  }
}