.forms {
  width: 450px;
  height: auto;
  margin: 0 auto;

  &__element {
    width: 100%;
    display: block;
    @include font(1.5rem);
    margin: 5px 0;
  }

  &__result {
    text-align: center;
    &_error {
      color: #ff0000;
    }

    &_success {
      color: #008b8b;
    }
  }

  &__header {
    text-align: center;
    @include font(1.8rem, $style: italic);
    border-bottom: 1px dashed;
  }

  & input,
  & select {
    border-radius: 15px;
    border: 1px solid;
    padding: 1px 10px;
    @include font(1.6rem);
  }

  & input:required:focus:invalid {
    border: 2px solid #ff0000;
  }

  & input[type=submit] {
    width: auto;
    margin: auto;
    padding: 5px 10px;
    background-color: #ffffff;

    &:hover {
      border-color: #00ffff;
    }
  }
}