.header {
  border-bottom: 1px dashed;
  padding-bottom: 5px;

  &__page-title {
    @include font(1.6rem, $weight: 600);
  }
}

.user_buttons_block {
  &> .button:nth-child(n) {
    margin-left: 5px;
  }
}