.modal-window {
  display: block;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px;

  &__form {
    position: relative;
    width: fit-content;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
  }

  &__close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
  }

  &_hidden {
    display: none;
  }
}