* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

.wrapper {
  width: 1020px;
  margin: 5px auto; }

p {
  margin: 0; }

input:focus,
textarea:focus {
  outline: none; }

a,
a:visited,
a:active {
  text-decoration: none; }

.forms {
  width: 100%;
  height: auto;
  margin: 0 auto; }
  .forms__element {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
    margin: 5px 0; }
  .forms__result {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal; }
    .forms__result_error {
      color: #ff0000; }
    .forms__result_success {
      color: #008b8b; }
  .forms__header {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: normal;
    font-style: italic;
    border-bottom: 1px dashed; }
  .forms__error {
    color: #ff0000; }
  .forms input, .forms select, .forms textarea {
    border-radius: 15px;
    border: 1px solid;
    padding: 1px 10px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: normal;
    font-style: normal; }
  .forms input:required:focus:invalid {
    border: 2px solid #ff0000; }
  .forms input[type=submit] {
    width: auto;
    margin: auto;
    padding: 5px 10px;
    background-color: #ffffff;
    transition: all 0.5s ease; }
    .forms input[type=submit]:hover {
      border-color: #00ffff; }

.flex {
  display: flex;
  align-items: normal; }

.flex__justify-content_space-between {
  justify-content: space-between; }

.flex__justify-content_flex-end {
  justify-content: flex-end; }

.flex__justify-content_center {
  justify-content: center; }

.flex__align-items_center {
  align-items: center; }

.flex__align-items_flex-start {
  align-items: flex-start; }

.flex__align-items_baseline {
  align-items: baseline; }

.flex__flex-wrap_wrap {
  flex-wrap: wrap; }

.header {
  border-bottom: 1px dashed;
  padding-bottom: 5px; }
  .header__page-title {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-style: normal; }

.user_buttons_block > .button:nth-child(n) {
  margin-left: 5px; }

.label {
  margin-right: 10px;
  padding: 5px 10px;
  width: 65px;
  border: 1px solid;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: normal;
  font-style: italic; }
  .label_new {
    background-color: #0000ff; }
  .label_finished {
    background-color: #008000; }
  .label_closed {
    background-color: #808080; }

.button {
  height: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0 10px;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  transition: all 0.5s ease; }
  .button:hover {
    border-color: #00ffff; }

.select {
  cursor: pointer;
  height: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  appearance: none;
  padding: 0 10px;
  font-size: 1.5rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal;
  transition: all 0.5s ease; }
  .select:hover {
    border-color: #00ffff; }

.table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: normal; }
  .table__head {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    border-bottom: 1px solid; }
  .table__body tr:nth-child(2n) {
    background-color: #d3d3d3; }
  .table td {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block; }
    .table td:first-child {
      width: 20px; }
    .table td:last-child {
      width: 100px; }
  .table__context {
    height: 20px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.modal-window {
  display: block;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 10px; }
  .modal-window__form {
    position: relative;
    width: 450px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px; }
  .modal-window__close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem; }
  .modal-window_hidden {
    display: none; }

.pagination {
  padding-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: normal; }
  .pagination__item {
    margin: 0 2px; }

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none; }
  .navigation__item {
    border: 1px solid #90ee90;
    border-radius: 5px;
    padding: 3px;
    margin: 0 2px; }
  .navigation__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: normal;
    color: #000000;
    transition: all 0.5s ease;
    cursor: pointer; }
    .navigation__link:hover {
      color: #00ffff;
      text-decoration: underline; }

.user-login-and-registration {
  width: 450px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-style: normal; }

.user-profile {
  padding-top: 10px; }
  .user-profile__user-name {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 600;
    font-style: normal;
    text-align: center; }
  .user-profile__user-group {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    font-style: italic; }
  .user-profile__user-contacts {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: normal;
    font-style: normal; }

.user-contacts__parameter {
  width: 120px;
  padding-right: 10px; }

.user-contacts__buttons-label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: normal; }

.error-page {
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: normal;
  font-style: normal; }
  .error-page__paragraph {
    width: 100%; }
  .error-page__parameter {
    width: 200px; }
  .error-page__message {
    text-align: left; }
  .error-page__single_message {
    display: block;
    text-align: center; }

.orders {
  padding-top: 5px; }
  .orders__header {
    padding: 5px 0;
    border-top: 2px dashed;
    border-bottom: 1px dashed;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-style: normal;
    text-align: center; }

.order {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 5px; }
  .order__actions {
    text-align: right;
    width: 115px;
    border-left: 1px dashed; }
    .order__actions .forms {
      width: 100px;
      margin: 5px auto; }
  .order_new {
    border-color: aquamarine; }
  .order_finished {
    border-color: grey; }
  .order_closed {
    border-color: grey; }

.order-info__shipper {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-style: normal; }

.order-info__route {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  font-style: normal;
  margin: 2px 0; }

.order-info__details {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: normal;
  font-style: normal;
  margin: 5px 0; }

.best-price {
  border-left: 1px dashed;
  padding: 0 15px;
  text-align: center; }
  .best-price > span {
    display: block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: normal;
    font-style: normal; }
  .best-price__header {
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  .best-price .forms {
    width: 100px;
    margin-top: 5px; }

.offers__header {
  display: block;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-style: normal;
  text-align: center; }

.offer {
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 1px;
  text-align: center; }
  .offer > span {
    display: block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: normal;
    font-style: normal; }
  .offer__header {
    border-bottom: 1px dashed black;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  .offer .forms {
    max-width: 100%;
    margin-top: 5px; }

.users-list {
  padding-top: 5px; }
  .users-list__header {
    padding: 5px 0;
    border-top: 2px dashed;
    border-bottom: 1px dashed;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-style: normal;
    text-align: center; }

.users-list__table td {
  text-align: left; }
  .users-list__table td:first-child {
    width: 30px;
    text-align: center; }
  .users-list__table td:nth-child(n+4) {
    text-align: center; }
  .users-list__table td:nth-child(5n) {
    width: 150px; }
  .users-list__table td:nth-child(n+6) {
    width: 100px; }
  .users-list__table td:last-child {
    width: 130px; }
  .users-list__table td input[type=submit] {
    min-width: 80px; }

/*# sourceMappingURL=style.css.map */