.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;

  &__item {
    border: 1px solid $navigation-item-border-color;
    border-radius: 5px;
    padding: 3px;
    margin: 0 2px;
  }

  &__link {
    @include font(1.5rem);
    color: $navigation-link-text-color;
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      color: $navigation-link-hover-text-color;
      text-decoration: underline;
    }
  }
}