.users-list {
  padding-top: 5px;

  &__header {
    padding: 5px 0;
    border-top: 2px dashed;
    border-bottom: 1px dashed;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }
}

.users-list__table {
  & td {
    text-align: left;

    &:first-child {
      width: 30px;
      text-align: center;
    }

    &:nth-child(n+4) {
      text-align: center
    }

    &:nth-child(5n) {
      width: 150px;
    }

    &:nth-child(n+6) {
      width: 100px;
    }
    &:last-child {
      width: 130px;
    }

    & input[type=submit] {
      min-width: 80px;
    }
  }
}