$transition-base: all 0.5s ease;

$navigation-link-text-color: #000000;
$navigation-link-hover-text-color: #00ffff;
$navigation-item-border-color: #90ee90;


$button-border-color: #000000;
$button-border-color-hover: #00ffff;
$button-background-color: #ffffff;
$button-text-color: #000000;

$forms-result-error-text-color: #ff0000;
$forms-result-success-text-color: #008b8b;
$forms-input-invalid-border-color: #ff0000;
$forms-input-submit-border-color-hover: #00ffff;
$forms-input-submit-background-color: #ffffff;

$modal-window-background-color: rgba(0,0,0,0.6);
$modal-form-background-color: #ffffff;
$modal-form-border-color: #000000;

$select-border-color: #000000;
$select-background-color: #ffffff;
$select-border-color-hover: #00ffff;